
<div class="container-fluid">
  <h1 style="margin-bottom:50px">Add Contact</h1>
  <div class="row" style="margin-bottom:20px; ">
    <div class="col-sm-2" style="background-color:lavender;">  <label>Name</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">  <input type="text" class="form-control" id="usr"></div>
    <div class="col-sm-2" style="background-color:lavender;"> <label>Email Address</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">  <input type="text" class="form-control" id="usr"></div>

  </div>
  <div class="row" style="margin-bottom:20px; ">
    <div class="col-sm-2" style="background-color:lavender;"> <label>Phone Number</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">  <input type="text" class="form-control" id="usr"></div>
    <div class="col-sm-2" style="background-color:lavender;"> <label>Website</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">  <input type="text" class="form-control" id="usr"></div>

  </div>

  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;"> <label>Address</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">    <textarea class="form-control" rows="5" id="comment"></textarea></div>
    <div class="col-sm-2" style="background-color:lavender;"> <label>Notes</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">    <textarea class="form-control" rows="5" id="comment"></textarea></div>

  </div>

</div>



<div class="row" style="margin-top:50px;">
  <div class="" style="background-color:lavender;">
    <button type="button" class="btn btn-primary" style="margin-left:100px">Add Contact</button>

  </div>
</div>
