<br><br>
<div class="form-group row">
  <div class="col-xs-3">
    <label for="ex1">Email: jarredl</label>
    <input class="form-control" id="ex1"   ng-model="firstname" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Password: paassword2</label>
    <input class="form-control" id="ex2"   ng-model="lastname" type="text">
  </div>
  <div class="col-xs-4">
<button style="margin-top:30px" ng-click="ServiceFunction2()" > Login</button>
  </div>
</div>

<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

<!--

<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

<div class="col-md-4">
	<h1>Login</h2>
	<div ng-show="error" class="alert alert-danger">
		{{errorMessage}}
	</div>
	<form class="form" ng-submit="login()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
		</div>
		<div>
			<button type="submit" class="btn btn-default" ng-disabled="disabled">
				Login
			</button>
		</div>

	</form>
    <a class="button" ng-click="confirm()">Add Post</a>

</div>

-->
