<div class="row">
    <div class="col-*-*"></div>
      <div >
        <img class="img-circle" style="display:block; margin:0 auto;  border-style: dotted; " src="img/images-3.jpeg" >
        <img class="img-circle" style="display:block; margin:0 auto;    border-style: dotted; " src="{{black2}}" >

      </div>
</div>

<div class="row">
      <div class="col-*-*"></div>
        <div >
            <!--
            http://graph.facebook.com/" +profile.id+ "/picture?type=square

                <div class="bob3" style="width:500px; margin: 0 auto; text-align: center;" class="card">
                    <br>
                  <div style="font-size: 25px; border-style: solid;border-color:white;background-color:	 #4881ea; " class="item item-divider">
                  Freeing Your Time, One Spot at a Time
                  </div>
                </div>
            -->
        </div>
</div>

<h1 class="bob3" style="text-align:center;">{{grabPersonName || "Profile Name"}} </h1>


<h1 class="bob3" style="text-align:center;"> Email: {{useremail || "User Email"}} </h1>


<h1 class="bob3" style="text-align:center;"> ID: {{userid || "User ID"}} </h1>


<h1 class="bob3" style="text-align:center;"> Token: {{usertoken || "User Token"}} </h1>
