
  <h2 style="text-align: center;"> Sign in using your social accounts </h2>

        <div style="text-align: center; ">
            <img src="img/facebook.png" >
            <!--    <img src="img/twitter.png" >
                <img src="img/google.png" >
                <img src="img/github.png" >
                <img src="img/linkedin.png" >  -->
        </div>


        <h3 style="text-align: center;"> Or With Your Email: </h2>

    <form name="formValidation" class="list" style="width:400px; margin: 0 auto; ">

          <h4 style="text-align: left;">First Name</h4>

          <label >
            <input type="text" style="width:400px; height:40px;" ng-model="fname"   placeholder="First Name" required>
          </label>

          <h4 style="text-align: left;">Last Name</h4>

            <label >
              <input type="text" style="width:400px; height:40px;" ng-model="lname" placeholder="Last Name" required>
            </label>

            <h4 style="text-align: left;">Email</h4>

          <label >
            <input type="text" style="width:400px; height:40px;" ng-model="email" placeholder="Email">
          </label>

          <h4 style="text-align: left;">password</h4>

          <label >
            <input name="password" type="password" style="width:400px; height:40px;" ng-model="password" placeholder="password">
          </label>

          <h4 style="text-align: left;">passwordConf</h4>

            <label>
              <input type="password"  style="width:400px; height:40px;" ng-model="passwordConf" placeholder="passwordConf">
            </label>

            </br>
            <br>
            <button href="" ng-click="ServiceFunction4()" class="btn btn-primary">Sign Up</button>

    </form>



<!--
<br><br>
<div class="form-group row">
  <div class="col-xs-3">
    <label for="ex1">Email</label>
    <input class="form-control" id="ex1" ng-model="firstname" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Password</label>
    <input class="form-control" id="ex2" ng-model="lastname" type="text">
  </div>
  <div class="col-xs-4">
<button style="margin-top:30px" ng-click="ServiceFunction3()"> SignUp</button>
  </div>
</div>
-->
