<!--<div style="padding-left:50px; padding-right:50px; "> -->


<div style="color:white; text-align: center; background-color: #4881ea; vertical-align: middle;
line-height: 50px;   font-size: 15px;" >
  <span  style="">Stores Available </span>
  <button class="glyphicon glyphicon-plus"  ng-click="optionsModal()" style="line-height: 20px; background-color: #4881ea;  border-style: none; float: right; font-size: 25px; margin-top:10px; margin-right:10px"></button>
</div>

<h1 class="bob3" style="text-align:center;">Stores Available in Area</h1>



<!--
<div class="container">
  <h2>Modal Example</h2>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
-->


<!-- OPTIONS MODALs BEGINS -->
<div class="modal fade" id="optionsModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class=" bob3" style="font-size: 30px; text-align:center ">Storenames Information</h1>

            This page will use your coordinates to determine if their are store nearby that
            are also using Shift. <br>
        </div>
      <div class="modal-body">
          <div class="bob3 " style="font-size: 25px; ">
            Please either: <br>
            1) Select a specified store  <br>
            2) Create another store  <br>
          </div>
      </div>
      <div class="modal-footer">
          <div style="font-size: 20px;   text-align:left ">
            Press to Enter Delete Mode:  <br>
            <button type="button" style="width:100%" ng-click="deleteMode()" data-dismiss="modal" class="btn btn-danger">Delete Mode</button> <br>
            Please Note: You only have authority to
            delete Stores from rows that you created.

          </div>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- MODAL BEGINS -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class=" bob3" style="font-size: 30px; text-align:center ">Storenames Information</h1>

              This page will use your coordinates to determine if their are store nearby that
              are also using Shift. <br>
          </div>
        <div class="modal-body">
            <div class="bob3 " style="font-size: 25px; ">
              Please either: <br>
              1) Select a specified store  <br>
              2) Create another store  <br>
            </div>
        </div>
        <div class="modal-footer">
            <span style="font-size: 20px;  ">   *Press and hold row to delete. </span>

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!--  MODAL ENDS-->

<!-- BUTTON USED TO GUESS ADDRESS/POSTAL CODE
<input type="button" class="button" id="go" value="Click Me and I'll Guess Your Address!">
<div id="results"></div>

<input style="margin-bottom:20px" type="text" ng-model="name" class="form-control input-lg" id="name">
-fluid
 -->
 <!--
   <div style=" " class="col-sm-12; well">
     <h1  style="text-align: center;"> Location and Postal Code</h1>
   </div>

   <div style="margin-bottom:50px" >
     <div class="row" style="center; ">
       <div class="col-sm-10; ">

             <div class="panel panel-default">
               <div class="panel-body">
                 <input type="text" > <button>work</button>



               </div>
           </div>

       </div>
     </div>
   </div>


 -->






<br>
<table class="table">
  <tbody>
    <tr class="panel panel-default" style="width:100%">
      <td>
        <div>
          <div >
            <input type="text" ng-model="storeName" placeholder="Storename" style="background-color:gainsboro; width:100%" class="form-control" id="usr">

          </div>
        </div>

      </td>
      <td style="width:100px">
        <!--    <button style="font-size:14px;margin-top:2px; height:32px">Add Store</button> -->
            <button style="font-size:14px;margin-top:2px; height:32px" ng-click="addStore1();">Add Store</button>

      </td>
    </tr>
  </tbody>
</table>



  <div class="row">
      <div class="col-sm-12">

        <h3>Your Coordinates.</h3>

        <input type="button" class="button" id="go" value="Click Me and I'll Guess Your Postal Code!">
       <div id="results"></div>


        <button ng-click="getLocation()">Try It</button>

        <p id="demo" style="font-weight: bold;"></p>

  <!--      <button ng-click="getStores()">GetStoreNames</button -->

      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
        <p>When you Search for new store name WITH POSTAL CODE [LIKE I DID WITH OLDER APP]
        <br>and you post store name with postal code to DB. Coords are not added to this page.
        <br>Coordinate tracking is done in people list page.
      </p>


      </div>
  </div>

  <div ng-show="successful" class="alert alert-success">
    <strong>Success!</strong> Indicates a successful or positive action.
  </div>

<!--
  <div class="row" style="margin-bottom:20px; margin-top:20px;">

      <div class="col-sm-12">


          <label for="usr">Enter Store Name</label>{{storeName}}
          <input style="margin-bottom:20px" type="text" ng-model="storeName" class="form-control" id="usr">
          <button ng-click="addStore1();">ADD STORE</button>

      </div>

  </div>
  <div class="row">
      <div class="col-sm-6">
    //   <button  ng-click="addStore()">Add Name</button>
    // <button ng-click="addStore1()">Add Store</button>
      </div>
  </div>
-->




<!--<h1 style="text-align: center;"> Store Available in Area</h1> -->

<div style="" class="table-responsive">
	<table class="table  table-hover">
		<thead>
			<tr >
    		<!--			<th style="text-align: center;">Store</th> -->
    		<!--		<th style="text-align: center;">Actions</th> -->

			</tr>
		</thead>
		<tbody style="background-color:white; border:none">
    			<tr style="text-align: center;" ng-repeat="country in countries | filter:search | orderBy:'store'">
    				<td>
              <a  style="background-color:white; border:none"  href="/#/storelines"   ng-click="grabStuff(country.store)" class="list-group-item active">
              <span style="color:black;font-weight: bold;">{{country.store}}
          <!--    <button  class="btn btn-danger btn-xs" href="" style="float:right;float:middle " ng-click="deleteName($index)">Delete</button> </a> -->

            </td>

    				<td  style="width:80px"  ng-show="deleteButton">
    					<button class="btn btn-danger btn" style="float:right; margin-top:5px" ng-click="deleteName(country.store)">Delete</button>
    				</td>

    			</tr>
		</tbody>
	</table>
</div>

<!--
<tr ng-repeat="country in countries | orderBy:'name'">
  <td><a href="#">{{countries.name}}</a></td>
  <td>{{countries.age}}</td>
  <td>{{country.car}}</td>
</tr>
-->
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Store Name / Create Original Line</h4>
      </div>
      <div class="modal-body">
        <p>Enter Store Name.</p>
        		<input type="text" ng-model="storetoAdd" id="storetoAdd" >
      </div>
            <div class="modal-body">
        <p>Enter Postal Code. {{postal123}}</p>
        		<!--<input type="text" ng-model="postalcodetoAdd" id="postalcodetoAdd" > -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submitInformation()">Add Name</button>
      </div>
    </div>

  </div>
</div>
