<!--<div style="padding-left:50px; padding-right:50px; "> -->


<div style="color:white; text-align: center; background-color: #4881ea; vertical-align: middle;
line-height: 50px;   font-size: 15px;" >
  <span  style="">Stores Available </span>
  <button class="glyphicon glyphicon-plus"  ng-click="optionsModal2()" style="line-height: 20px; background-color: #4881ea;  border-style: none; float: right; font-size: 25px; margin-top:10px; margin-right:10px"></button>
</div>

<h1 class="bob3" style="text-align:center;">Stores Available in Store: {{grabStorename || 'StoreName Not Passed!'}} </h1>




<!-- OPTIONS  MODAL BEGINS -->
<div class="modal fade" id="optionsModal2" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class=" bob3" style="font-size: 30px; text-align:center ">Storeline Information</h1>
              This page shows the lines available in this store.

        </div>
      <div class="modal-body">
        <div class="bob3 item item-text-wrap" style="font-size: 25px; ">
          Please either: <br>
          1) Select a line  <br>
          2) Create another line
        </div>
      </div>
      <div class="modal-footer">
          <div style="font-size: 20px;   text-align:left ">
            Press to Enter Delete Mode:  <br>
            <button type="button" style="width:100%" ng-click="deleteMode()" data-dismiss="modal" class="btn btn-danger">Delete Mode</button> <br>
            Please Note: You only have authority to
            delete Stores from rows that you created.

          </div>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <!-- MODAL BEGINS -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class=" bob3" style="font-size: 30px; text-align:center ">Storeline Information</h1>
                  This page shows the lines available in this store.

            </div>
          <div class="modal-body">
            <div class="bob3 item item-text-wrap" style="font-size: 25px; ">
              Please either: <br>
              1) Select a line  <br>
              2) Create another line
            </div>
          </div>
          <div class="modal-footer">
              <span style="font-size: 20px;  ">   *Press and hold row to delete. </span>

              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>






    <!-- Add line MODALS BEGINS -->
    <div class="modal fade" id="myLineModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class=" bob3" style="font-size: 30px; text-align:center ">AddLine Modal</h1>
                  This page shows the lines that you can add to this store: {{grabStorename || "Storename not passed!"}}.

            </div>
          <div class="modal-body">
            <div class=" item item-text-wrap" style="font-size: 25px; padding:30px ">
            <div style="text-align:center">  Please select which line to add: <br> </div>
              <button type="button" style="width:100%" ng-click="addLine1()" class="btn btn-primary">AddLine1</button> <br>
              <button type="button" style="width:100%" ng-click="addLine2()" class="btn btn-primary">AddLine2</button>
              <button type="button" style="width:100%" ng-click="addLine3()" class="btn btn-primary">AddLine3</button>
              <button type="button" style="width:100%" ng-click="addLine4()" class="btn btn-primary">AddLine4</button>
              <button type="button" style="width:100%" ng-click="addLine5()" class="btn btn-primary">AddLine5</button>
            </div>
          </div>
          <div class="modal-footer">
              <span style="font-size: 20px;  ">   *Press and hold row to delete. </span>

              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




      <div ng-show="successful"  class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
      </div>


    <div class="table-responsive">
    	<table class="table table-hover">
    		<thead>
    			<tr>
    				<th>Add Another Line to Table:
              <button class="btn btn-default btn-xs"  ng-click="addLineMOdal()">Add Line Modal</button></th>
          			</tr>
          		</thead>
          		<tbody>
          			<tr ng-hide="numberLinesZero" ng-repeat="country in countries | filter:search | orderBy:'line'">
          				<td><a style="background-color:white; border:none; text-align: center;" href="/#/peopleline" ng-click="checkLineAdminFcn(country.line)"class="list-group-item active" >
                      <span style="color:black;">{{ country.line}} </span>
                      <!--    <button class="btn btn-danger btn-xs"  style="float: right; " ng-click="removeName($index)">Delete</button> -->

                      </td>

                  </td>

                  <td  style="width:80px"  ng-show="deleteButton">
                    <button class="btn btn-danger btn" style="float:right; margin-top:5px" ng-click="deleteLine(country.line)">Delete</button>
                  </td>

        			</tr>
              <tr ng-show="numberLinesZero" >
                <td><a style="background-color:white; border:none; text-align: center;" href=""class="list-group-item active" >
                    <span style="color:black;">THIS IS EMPTY </span>
                    <!--    <button class="btn btn-danger btn-xs"  style="float: right; " ng-click="removeName($index)">Delete</button> -->

                    </td>

                </td>

                <td  style="width:80px"  ng-show="deleteButton">
                  <button class="btn btn-danger btn" style="float:right; margin-top:5px" ng-click="deleteLine(country.line)">Delete</button>
                </td>

            </tr>

    		</tbody>
    	</table>
    </div>
